
body{
    background-image: url('./img/Games-Brasil-e1686075484409.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  
    
}


h1{
    text-align: center;

}
h2{
    text-align: center; color: brown;
}

a{
    margin-left: 40.2%;
}
img{
    width: 400px;

}
h1{
text-align: ;

}


